.webProjectSection {
    .webProjectContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;

        .ImageBox {
            position: relative;
            flex: 0 0 calc(33.33% - 10px);
            height: 400px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0px 13px 0px rgba(39, 98, 123, 0.02);
            border: 1px solid rgba(173, 207, 227, 0.3);
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            transition: background-position 8s ease-in-out;

            &:hover {
                background-position: center 100%;
                transition: background-position 8s ease-in-out;
            }
        }
    }
}