.ctaServicesSection {
    height: 670px;


    .ImageGB {
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        border-radius: 34px;
        padding: 40px 40px;

        .ctaServicesTitle {
            max-width: 80%;

            p {
                color: #000;
            }
        }

        .ctaServicesTxt {
            max-width: 80%;
            text-align: right;
            margin-left: auto;

            p {
                color: #000;
            }
        }
    }
}